{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <h3>Login</h3>
    <form method="post">
      <div class="mb-3"><label class="form-label">Username (Use Real Name)</label><input class="form-control" name="username" required></div>
      <div class="mb-3"><label class="form-label">Password</label><input type="password" class="form-control" name="password" required></div>
      <button class="btn btn-primary w-100">Login</button>
    </form>
    <hr>
    <p>Need an account?
      {% if config.get('ALLOW_SELF_SIGNUP', True) %}
        <a href="{{ url_for('register') }}">Register</a>
      {% else %} Ask the admin to create one. {% endif %}
    </p>
  </div>
</div>
{% endblock %}
